{% extends 'productos/base.html' %}

{% block title %}Nuevo Componente - HardwareHub{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="card p-4 shadow-lg">
            <h3 class="mb-4 text-center">Registro de Producto</h3>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3 text-light">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-accent w-100 py-2">Registrar en el Inventario</button>
            </form>
            <div class="d-flex justify-content-between mt-3 px-2">
                <a href="{% url 'home' %}" class="text-secondary small text-decoration-none">← Inicio</a>
                <a href="{% url 'productos_list' %}" class="text-secondary small text-decoration-none">Ver Catálogo →</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}